<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panmapor | Home</title>
    <link rel="icon" href="/assets/logo.png" type="image/icon type">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/start.js" defer></script>
</head>
<body>
    <div>
        <nav class="top-grid">
            <ul>
                <li><a href="#about" class="navigation">About</a></li>
                
            </ul>
            <a href="/login" class="login">Login</a>
        </nav>
        <header>
            <h1 class="first">Panmapor</h1>
            <h2 class="first">A regular chatting place</h2>
        </header>
    </div>
    <section id="about">
        <br><br><br><br><br><br>
        <h2>About</h2>
        <p>just chat</p>
    </section>
</body>
</html>