<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/main.js" defer></script>
</head>
<body>
    <section class="chat">
        <div class="container">
            <h5>John</h5>
            <p>Hi</p>
            <span class="time">11:00</span>
        </div>
        <div class="container">
            <h5>Joe</h5>
            <p>Hello</p>
            <span class="time">11:01</span>
        </div>
        <div class="container">
            <h5>Joe</h5>
            <p>Hello</p>
            <span class="time">11:01</span>
        </div>
        <div class="container">
            <h5>Joe</h5>
            <p>Hello</p>
            <span class="time">11:01</span>
        </div>
        <div class="container">
            <h5>Joe</h5>
            <p>Hello</p>
            <span class="time">11:01</span>
        </div>
        <div class="container">
            <h5>Joe</h5>
            <p>Hello</p>
            <span class="time">11:01</span>
        </div>
        <div class="container">
            <h5>Joe</h5>
            <p>Hello</p>
            <span class="time">11:01</span>
        </div>
        <div class="container">
            <h5>Joe</h5>
                <p>H</p>
                <p>H</p>
                <p>H</p>
                <p>H</p>
                <p>H</p>
                <p>H</p>
            <span class="time">11:01</span>
        </div>
        <textarea id="text" name="" placeholder="Message"></textarea>
    </section>
    <div class="topics">
        <h2>Topics</h2>
        <div class="choices">
            <h5 class="choice" id="choice-1">Public</h5>
            <h5 class="choice" id="choice-2">Private</h5>
        </div>
        <div class="topic">
            <h5>Detective Conan</h5>
            <h5>Chatgpt</h5>
            <h5>Gaming</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
            <h5>John topic</h5>
        </div>
    </div>
    <div class="bottom">
        <p>Username1234567</p>
        <p>Inv request</p>
    </div>
</body>
</html>