<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Panmapor | Chat</title>
	<link rel="icon" href="/assets/logo.png" type="image/icon type">
	<% if (env === 'production') { %>
	<link rel="stylesheet" href="/dist/_reset.css">
	<link rel="stylesheet" href="/dist/_base.css">
	<link rel="stylesheet" href="/dist/main.css">
	<% } else { %>
	<link rel="stylesheet" href="/css/_reset.css">
	<link rel="stylesheet" href="/css/_base.css">
	<link rel="stylesheet" href="/css/main.css">
	<% } %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
	<script src="/socket.io/socket.io.js" defer></script>
	<% if (env === 'production') { %>
	<script src="/dist/main.js" defer></script>
	<script src="/dist/topic.js" defer></script>
	<script src="/dist/socket.js" defer></script>
	<% } else { %>
	<script src="/js/main.js" defer></script>
	<script src="/js/topic.js" defer></script>
	<script src="/js/socket.js" defer></script>
	<% } %>
	<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>

<body>
	<div class="grid-wrapper">
		<h1 class="topics">Topics</h1>
		<section class="chat" id="chatting">
			<div id="scroll-down" class="hide">
				<i class="fa-solid fa-arrow-down" id="down-btn"></i>
				<p class="hide" id="new-msg-counter">0</p>
			</div>
			<div class="message-panel-wrapper">
				<div id="outer-wrap"></div>
				<div contenteditable="true" id="text" class="hide" data-placeholder="Message"></div>
				<p class="typing" id="typing"></p>
			</div>
		</section>
		<div class="choices" x-data="topicMaker()" x-init="init()">
			<h5 class="choice" :class="{ 'clicked': visible === 'public' }" @click="switchTo('public')"
				title="Public topic">Public</h5>
			<h5 class="choice" :class="{ 'clicked': visible === 'private' }" @click="switchTo('private')"
				title="Private topic">Private</h5>
		</div>
		<div class="topic-maker">
			<input id="search-bar" placeholder="Search" oninput="onSearch(this.value)">
			<i id="create-new" x-data @click="document.getElementById('new-topic').showModal()" title="Create new topic"
				class="fa-solid fa-plus"></i>
		</div>
		<div class="topic" id="rooms"></div>
		<div class="bottom">
			<div id="username" title="Left click for more info">
				<p>
					<%= displayName %>
				</p>
				<span>@<%= username %></span>
			</div>
			<div id="invite-req" title="Invite request">
				<i class="fa-solid fa-users"></i>
			</div>
		</div>
	</div>
	<dialog class="new-topic" id="new-topic" x-data="{ name: '', adult: false }" x-ref="topicDialog">
		<h2>Start a new discussion!</h2>
		<form id="new-topic-form" x-on:submit.prevent="window.socket.emit('new-room', window.cookieId, name, window._visible, adult); name = ''; adult = false; $refs.topicDialog.close()">
			<label for="new-topic-input-name" class="p-desc">Topic name:</label>
			<input type="text" id="new-topic-input-name" x-model="name" placeholder="Enter topic name" required>
			<label for="check18" class="p-desc">Allow 18+ content?</label>
			<label class="switch">
				<input type="checkbox" id="check18" x-model="adult">
				<span class="slider round"></span>
			</label>
			<button type="submit" class="new-topic-btn" id="new-topic-btn-create">Create</button>
			<button type="button" class="new-topic-btn" id="new-topic-btn-cancel"
				@click="$refs.topicDialog.close()">Cancel</button>
		</form>
	</dialog>
</body>

</html>
