<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat | Sign Up</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/start.js" defer></script>
</head>
<body>
    <div class="loginbox">
        <h1>Sign Up</h1>
        <form action="/doingthings" method="POST">
            <p>Name</p>
            
            <%= name %>
            <input type="text" maxlength="15" name="name" placeholder="Enter name" required>
            <p>Username</p>
            <%= username %>
            <input type="text" maxlength="15" name="username" placeholder="Enter username" required>
            <p>Password</p>
            <%= password %>
            <input type="password" maxlength="20" name="password" placeholder="Enter password" required>
            <p>Confirm Password</p>
            
            <%= confirmpassword %>
            <input type="password" maxlength="20" name="confirmpassword" placeholder="Enter password" required>
            <br><br>
            <input type="submit" name="" id="loginbtn" value="Sign Up">
            <p>Have an account? <a href="/login">Login</a></p>
        </form>
    </div>
</body>
</html>