body {
    margin: 0;
    padding: 0;
    /* background: url(a.jpg); */
    background-color: rgb(50, 50, 50);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
