body,
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}

body {
    background-color: rgb(50, 50, 50);
    background-image: url("/assets/home3.jpg"), url("/assets/home4.jpg");
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 100vw 104vh;
}

header {
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: aquamarine;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    color: aquamarine;
}

p {
    font-size: 1.7rem;
    color: aquamarine;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: aquamarine;
    background-color: rgba(80, 128, 8, 0.8);
    width: 98.8vw;
}

ul li {
    float: left;
    text-decoration: none;
    padding: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: aquamarine;
}

a:hover {
    color: white;
}

section,
div {
    height: 100vh;
}

nav {
    position: fixed;
    top: 0vh;
}

::-webkit-scrollbar {
    width: 2vh;
}

::-webkit-scrollbar-thumb {
    background: rgb(40, 40, 40);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 30, 30);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgb(80, 80, 80);
}

.login,
ul li {
    color: aquamarine;
}

.login:hover,
ul li:hover {
    color: white;
}

.login {
    margin-top: 2.5vh;
    margin-right: 4vh;
}

.first {
    margin-top: 8vh;
}