:root {
    --navbar-padding-block: 0.3rem;
    --fs-400: 1rem;
    --fs-600: 1.5rem;
    --fs-800: 2rem;
}

body,
html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(50, 50, 50);
}

body #introduction {
    background-color: rgb(50, 50, 50);
    background-image: url("/assets/home3.jpg");
    background-position: top, right;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    text-align: center;
    padding: 0;
}

body #about {
    background-color: rgb(50, 50, 50);
    background-image: url("/assets/home4.jpg");
    background-position: top, right;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    padding-top: 3.5rem;
    padding-top: calc(var(--navbar-padding-block) + var(--fs-600) + 1rem);
}

section {
    height: 100svh;
    padding-left: 0.3rem;
}

h1 {
    font-size: var(--fs-800);
    color: aquamarine;
}

h2 {
    font-size: var(--fs-600);
    font-style: italic;
    color: aquamarine;
}

p {
    font-size: var(--fs-400);
    color: aquamarine;
}

nav {
    top: 0;
    padding-inline: 1rem;
    padding-block: var(--navbar-padding-block);
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: aquamarine;
    background-color: rgba(80, 128, 8, 0.8);
    width: 100%;
    position: sticky;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: var(--fs-600);
    color: aquamarine;

    &:hover {
        color: white;
    }
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: rgb(40, 40, 40);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 30, 30);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgb(80, 80, 80);
}
